.iconContainer {
  padding: 10px;
  background-color: #282c34;
  display: inline-block;
  margin-right: 15px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.iconContainer a {
  color: white;
  transition: 0.3s;
}

.iconContainer a:hover {
  background-color: #323741;
  color: var(--active-color);
}

.iconContainer:last-child {
  margin-right: 0px;
}

.small {
  background-color: transparent;
  margin-right: 5;
  padding: 0;
}

.small a {
  color: #282c34;
}

.small a {
  padding: 5;
}

.small a:hover {
  background-color: transparent;
}
